<footer class="footer">
<small>
  本项目源码<a href="https://github.com/WolfgangYoung">Wolfgang Young</a>
</small>
<nav>
<ul>
  <li><%= link_to "关于", about_path %></li>
  <li><%= link_to "联系我", contact_path %></li>
</ul>
</nav>
</footer>
